* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    font-family: "Roboto", sans-serif;
    
}

:root {
    --cor-primary: #111827;
    --cor-secondary: #1E293B;
    --cor-alternativa: #2563EB;
    --cor-text: #8E98A8;
    --cor-fundo: #ffffff;

}

.btn-primary {
    width: 80px;
    height: 40px;

    border: 1px solid var(--cor-text);

    color: var(--cor-text);
    background-color: var(--cor-alternativa);
}

.btn-secondary {
    width: 80px;
    height: 40px;

    border: 1px solid var(--cor-alternativa);
    color: var(--cor-alternativa);
    background-color: var(--cor-fundo);
}

header {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 16px 5%;

    background-color: var(--cor-primary);
    
}

header > .content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.content-header > img {
    width: 50%;
    height: auto;
}

.nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.nav-header  a {
    color: var(--cor-text);
}

.dropdown-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.dropdown-header  img {
    width: 10%;
    height: auto;
}

.actions-header {
    display: flex;
    gap: 20px;
}

#mega-menu {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--cor-primary);
}

#mega-menu > .menu-menu {
    display: flex;
    align-items: center;
    gap: 48px;

    padding: 32px 5%;


}

.menu-menu h4 {
    color: var(--cor-alternativa);
}

.menu-menu a {
    color: var(--cor-text);
}

.menu-list-one,
.menu-list-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.nav-menu-one,
.nav-menu-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.content-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    padding: 16px 5%;
}

.title-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title-content-menu {
    padding: 0px 5%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.title-content-menu > h1 {
    color: var(--cor-alternativa);
}

.title-content-menu > p {
    color: var(--cor-text);
}

.actions-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero {
    background-color: var(--cor-text);
}

#hero > img {
    width: 100%;
    height: auto;
}

#hero > .container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    padding: 40px 5%;
}

.container-hero  h1 {
    color: var(--cor-alternativa);
}

.container-hero p {
    color: var(--cor-secondary);
}
.content-hero {
    display: flex;  
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.actions-hero {
    display: flex;
    gap: 20px;
}

footer {
    background-color: var(--cor-secondary);
}

footer  img {
    width: 80%;
    height: auto;
}



.container-footer a {
    color: var(--cor-text);
}

.content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-footer > h4 {
    color: var(--cor-alternativa);
}


.links-footer > nav {
    display: flex;
    gap: 32px;
    padding: 32px 0;
}

.text-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-footer p {
    font-size: 12px;
    color: var(--cor-alternativa);
}



form > #email-footer {
    width: 100%;
    height: 30px;
}

.credits-footer > .row-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    padding: 32px 5%;
}

.nav-credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.nav-footer {
    display: flex;
    align-items: center;
}


@media (min-width: 768px) {
    
}

@media (min-width: 1280px) {


header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 64px;
}

header > .content-header {
    flex-direction: row;
    gap: 24px;
}

.nav-header {
    flex-direction: row;
    gap: 32px;
}

.dropdown-header {
    flex-direction: row;
}

#mega-menu {
    flex-direction: row;
    justify-content: space-between;
}

#mega-menu > .menu-menu {
    padding: 32px 64px;
}

.content-menu {
    flex-direction: row;
    padding: 16px 64px;
}

.title-content-menu {
    padding: 0;
    align-items: flex-start;
}

.actions-menu {
    align-items: flex-start;
}

#hero > .container-hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    gap: 80px;
}

.content-hero {
    align-items: flex-start;
}

.container-footer {
    padding: 80px;
}

.content-footer {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.links-footer > nav {
    flex-direction: row;
    gap: 32px;
    width: 100%;
}

.credits-footer > .row-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 32px 0%;
}

.nav-credits {
    flex-direction: row;
    gap: 24px;
}

form > #email-footer {
    width: 265px;
    height: 40px;
}

}

